<ion-view view-title="Settings">

	<ion-nav-bar align-title="center">
		<ion-nav-back-button class="button button-clear button-positive icon ion-chevron-left"
			ng-show="uiRouterState.current.name == 'settings'">
			Back
		</ion-nav-back-button>
	</ion-nav-bar>

	<ion-content class="padding">

		<div my-customer ng-show="isLoading"></div>


		<form name="EDDStats_Form">
			<label class="item item-input">
				<span class="input-label">Wordpress URL</span>
				<input type="url" name="edd-url" required
					ng-model="site.url"
					ng-model-options="{ updateOn: 'default blur' }">
			</label>

			<label class="item item-input">
				<span class="input-label">EDD API Key</span>
				<input type="text" name="edd-key" required
					ng-model="site.key"
					ng-model-options="{ updateOn: 'default blur' }">
			</label>

			<button class="button button-block button-positive no-animation" 
				ng-disabled="EDDStats_Form.$invalid"
				ng-click="processForm(site)">
				Submit
			</button> 
			
			<pre>Site URL = "{{site.url}}"</pre>

		</form>


	</ion-content>



</ion-view>